django 
networkx 
spacy 
lexrank 
distance 
pattern 
autocorrect 
inflect 
contractions 
hdbscan 
nltk
scipy
scikit-learn
sentencepiece
numpy
tqdm
transformers==2.3.0
sentence_transformers 
python-dateutil 
pillow
django-on-heroku
